<nav>
  <ul class="navigation">
    <li><a href="#charts">Charts</a></li>
      <!-- <ul>
        <li><a href="#charts/git">Github</a></li>
          <ul>
            <li><a href="#charts/git/line">Line chart</a></li>
            <li><a href="#charts/git/column">Column chart</a></li>
          </ul>
        <li><a href="#charts/skills">Skills</a></li>
          <ul>
            <li><a href="#charts/skills/pie">Pie chart</a></li>
            <li><a href="#charts/skills/combi">Combination chart</a></li>
          </ul>
      </ul> -->
    <li><a href="#about">About</a></li>
  </ul>
</nav>